<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../models/Employee.js" ></script>
    <script src="../models/Manager.js" ></script>
    <script src="../controllers/indexController.js" type="module"></script>

</head>
<body>
<form>
    <label for="employeeId">Please Enter your Employee Identification #</label><br>
    <input type="text" id="employeeId" name="employeeId"><br>
    <button id="btnLogin" onclick="login()">Login</button>
</form>

<script type="module">

</script>
</body>
</html>